.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  &-cell {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
  }
}
.error {
  color: red;
}
