.container {
  position: relative;
  width: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.label {
  width: fit-content;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;

  &:focus {
    outline: none;
    border-color: #0066cc;
  }
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-top: none;
  &-item {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
  }
  &-empty {
    padding: 8px;
    color: #777;
  }
}
